@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Urbanist:wght@100&display=swap');
*{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
font-family: 'Urbanist', sans-serif;
color: rgb(204, 3, 3);
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(16, 210, 68);
}
.navbar h1{
  color: rgb(36, 12, 214);
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color: aqua;
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
/* blog-preview list*/
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid rgb(211, 204, 210);
  color: black;
}
.blog-preview:hover{
  box-shadow: 1px 2.5px 5px rgba(0 0 0 0.5);
}
.font-preview h2{
  font-size: 20px;
  color: rgba(105, 7, 7, 0.955);
  margin-bottom: 8px;
}