/*.login {
    width: 550px;
    height:350px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    
}

#form {
    border-radius: 10px;
    
}

.btn {
background-color: blue;
color: aliceblue;
}*/

#main-container {
    place-items: center center;
  }
  
  #sign-in-form {
    max-width: 330px;
  }
  
  .bootstrap-logo {
    width: 72px;
    height: 72px;
  }
  
  .form-control:focus {
    z-index: 5;
  }