
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0.1em;
  font-family: 'Lato', sans-serif;
  padding: 0.1;
  font-weight: solid;
  
}
Link {
  text-decoration: none;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 1600px; */
  margin: 2em;
  border-bottom: 2px solid rgb(16, 210, 68);
}
.navbar h1 {
  color: rgb(36, 12, 214);
  font-size: 60px;
}
.navbar .links {
  margin-left: auto;
  font-size: 20px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 10px;
}
.navbar a:hover {
  color: aqua;
}

.page1 {
  background: url("../public/images/design0.png")
    no-repeat center;
  background-size: cover;
  height: max-content;
  padding: 30px;
  overflow: hidden;
  height: 100vh;
  color: rgb(36, 12, 214);
}



.header {
  background: #5f9ad1;
  padding: 40px 30px;
}

.imgs {
  padding: 8px;
  background: linear-gradient(150deg, #767c81, #9867e6);
  margin: auto;
  border-radius: 5%;
  background-size: 50% 50%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

