.login {
    width: 550px;
    height:350px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    
}

#form {
    border-radius: 10px;
    
}

.btn {
background-color: blue;
color: aliceblue;
}